@using Domain.Entities
@model IEnumerable<Car>

@{
    ViewBag.Title = "List";
}

@foreach (Car car in Model)
{
    <div>
        <h3>@car.Mark</h3>
        <p>@car.Model</p>
        <h4>@car.Price.ToString("# руб") </h4>

    </div>

    <hr />
}
